@page
@using DataLayer.Model
@using Microsoft.AspNetCore.Identity
@model EventiaWebapp.Pages.IndexModel
@inject SignInManager<EventiaUser> _signInManager
@{
}
<div class="hero-img mt-5">
    <h1 class="hero-header">WELCOME TO EVENTIA</h1>
    <img src="~/img/eventia.jpg" class="img-fluid" alt="Eventia hero image">
</div>
<div class="content">
    <h5 class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
</div>

@if(!_signInManager.IsSignedIn(User))
{
<form>
    <div class="d-flex mt-5 justify-content-center gap-4">
        <button class="btn btn-lg btn-dark" asp-area="Identity" asp-page="/Account/Register">Register</button>
        <button class="btn btn-lg btn-dark" asp-area="Identity" asp-page="/Account/Login" >Login</button>
    </div>
</form>
}




