@page
@model EventiaWebapp.Pages.IndexModel
@{
}
<div class="hero-img mt-5">
    <h1 class="hero-header">WELCOME TO EVENTIA</h1>
    <img src="~/img/eventia.jpg" class="img-fluid" alt="Eventia hero image">
</div>
<div class="content">
    <h5 class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
</div>
<form>
<div class="d-flex mt-5 justify-content-center gap-4">
    <button asp-page="Events" class="btn btn-lg btn-dark">Register</button>
    <button asp-page="Login" class="btn btn-lg btn-dark">Login</button>
</div>
</form>




