@page
@model EventiaWebapp.Pages.LoginModel
@{
}

<h4 class="display-6">LOGIN PAGE</h4>



<style>

    .display-6 {
        text-align: center;
        padding: 40px 0;
        font-size: 1.6rem;
    }

</style>