

    <li class="nav-item">
        <a class="nav-link" id="register" asp-page="/admin/index">Admin</a>
    </li>
    <p class="devider">|</p>
    <li class="nav-item">
        <a class="nav-link" id="login"  asp-page="/admin/manageusers">Manage Users</a>
    </li>
    <p class="devider">|</p>