@using Microsoft.AspNetCore.Identity
@using DataLayer.Model

@inject SignInManager<EventiaUser> SignInManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
    </li>
    <p class="devider">|</p>

    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>

    <p class="devider">|</p>

    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>



@*<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"></form>*@